body {
  background-color: rgba(0, 0, 0, 0.8); /* Black background with 80% opacity */
  background-image: url("back-ground.jpg"); /* Path to your logo image */
  background-repeat: repeat; /* Repeat the logo image */
  background-attachment: fixed; /* Fix the background while scrolling */
  background-size: 8%;
}
header {
  background-color: black;
  background-image: url("header-background.JPG"); /* Path to your logo image */
  background-repeat: repeat;
  background-position: center;
  background-size: 65% auto;
  padding: 20px;
}

.header3{
  color: white;
}

header img {
  width: 100px;
  height: auto;
}

.feedback-form {
  background-color: black;
  width:25%;
  border: 1px solid white;
}

form {
  color: white;
}

header form {
  margin: 10px 0;
}

header input[type="text"] {
  padding: 5px;
  width: 200px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

#card-container {
  display: flex;
  flex-wrap: wrap;S
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#card-container img {
  width: 150px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.display-box {
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.display-box p {
  margin: 10px 0;
}