body {
  background-color: rgba(0, 0, 0, 0.8); /* Black background with 80% opacity */
  background-image: url("back-ground.jpg"); /* Path to your logo image */
  background-repeat: repeat; /* Repeat the logo image */
  background-attachment: fixed; /* Fix the background while scrolling */
  background-size: 8%;
}

header{
  background-color: blue;
}

